* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
header {
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    display: none;
}

.logo {
    padding-top: 5px;
    cursor: pointer;
}

.logo svg {
    width: 7.3rem;
    cursor: pointer;
}

.menu_icon {
    cursor: pointer;
}

.hero {
    width: 100%;
    padding: 1rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_heading {
    font-size: 2.5rem;
    text-align: center;
    line-height: 2.8rem;
}

#hero_heading-green {
    color: #008080;
}

p.hero_desc {
    width: 100%;
    align-self: flex-start;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.2rem;
}

.hero form {
    width: 100%;
    margin-top: 1.5rem;
    /* height: 3rem; */
    display: flex;
    justify-content: space-between;
}

.input_wrapper {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 65%;
    gap: 0.65rem;
    background-color: #fff;
    box-shadow: 0px 10px 50px 0px rgba(11, 11, 11, 0.08);
    border-radius: 0.25rem 0 0 0.25rem;

}
.input_wrapper > input {
    width: 95%;
    border: none;
    overflow: hidden;
    
}
input:active, input:focus {
    outline: none;
    
}
.input_wrapper > input::placeholder {
    font-family: "Inter", sans-serif;
}

.hero_input-icon {
    width: 18px;
}

.hero_image {
    /* display: none; */
    margin-top: 3.5rem;
    width: 400px;
    height: 300px;
}

.authority {
    width: 100%;
}


.companies {
    display: flex;
    justify-content: space-around
} 

.companies svg {
    width: 8rem;
    height: 5rem;
}


.expertise_section, .service_section, .testimonial_section, .gurantee_section{
    padding: 1rem;
    margin: 1rem 0;;
}


.title_wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.title {
    background-color: #20CFC614;
    padding: 0.25rem 0.4rem;
    border-radius: 0.25rem;
    display: inline;
    color: #008080;
    font-family: "poppins";
    font-size: 1rem;
    text-transform: uppercase;
}
.title_line {
    width: 5rem;
    height: 0.125rem;
    background-color: #008080;
}

.section_text, .testimonials {
    padding: 1rem;
}

.description {
    /* text-align: center; */
    margin: 0.8rem 0;
    font-size: 0.9rem;
}

.section_heading {
    margin: 1rem 0;
    /* text-align: center; */
    
}

.other_btn {
    appearance: none;
    border-radius: 0.25rem;
    border: 2px solid #D5DDDD;
    padding: 1rem 2rem;
    background: #fff;
    color: #1E1E1E;
    font-weight: bold;
}

.section_image-wrapper {
    margin: 1rem auto;
    width: 80%;
    height:300px;
    background-color: #E0F8F8;
    border-radius: 2.1875rem 0.25rem;
    padding: 1rem;
    display: flex;
    align-items: center ;
} 

.section_image {
    /* display: none; */
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-content: space-between;
    gap: 1rem;
}

.service {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 0.8rem;
}

.service_bg {
    width: 28px;
    height: 28px;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_1 {
    background-color: #CAFFD2;
}

.service_2 {
    background-color: #FFABAB;
}

.service_3 {
    background-color: #70F1EA;
}

.service_4 {
    background-color: #FFEE90;
}

.service svg {
    width: 16px;
    height: 16px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial {
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-radius: 2.1875rem 0.25rem;
    border: 3px solid #D5DDDD;
    margin: 1rem 0;
    padding: 2rem 1.5rem;
    position: relative;
}

.testimonial:nth-child(even) {
    background-color: #008080;
    border: none;
    color: #fff;

}

.author_bio {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author_image-wrapper {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.author_image {
    width: 100%;
    border-radius: 50%;
}

.author_position {
    color: #b0b0b0;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.author_position.unique {
    color: #E1E1E1;
}

.testimony {
    margin: 2rem auto;
    font-size: 0.9rem;
    line-height: 1.6rem;
}

.quote {
    font-size: 5rem;
    font-family: "Proza Libre", sans-serif;
    position: absolute;
    bottom: -2.5rem;
    right: 1.5rem;
}

.gurantee_section {
    padding: 2rem;
    margin: 1rem 0;;
}

.guarantee {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.guarantee_icon-wrapper {
    width: 4rem;
    height: 4rem;
    background-color: #DAFAFC;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.guarantee_icon-wrapper > svg {
    width: 50%;
}

/* .guarantee_desc {
    width: 80%;
} */

.read_more { 
    text-decoration: none;
    color: #008080;
}

.lead_form-section{
    margin: 1rem 0;
    color: #fff;
}

.start_now {
    color: #2CDFD5;
    background: none;
}

.start_now + .start_now-line {
    background-color: #2CDFD5;
}

.lead_form-wrapper {
    background-color: #008080;
    padding: 2rem;
}

.form_heading {
    color: #fff;
    margin: 1rem 0;
}

.lead_input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.lead_input-wrapper > input {
   appearance: none;
   outline: none;
   border: none;
   padding: 0.9rem;
   border-radius: 0.25rem;
   color: #7E7E7E;
   font-weight: bold; 
   width: 70%;
}

/* BUTTONS */

.hero_btn, .lead_form-btn{
    appearance: none;
    border: none;
    font-size: 0.7rem;
    color: #fff;
    cursor: pointer;
}
.hero_btn {
    width: 35%;
    background-color: #008080;
    border-radius:0 0.25rem 0.25rem 0;
    padding: 1rem 2rem;
}

.lead_form-btn{ 
    border-radius: 0.25rem;
    background-color: #20CFC6;
    font-size: 0.8rem;
    padding: 1rem;
    width: 32%;
}

.lead_misc {
    font-size: .7rem;
}


.lead_misc  span{
    color: #20CFC6;
}